{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="container-fluid" id="particles-js"  style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://images.unsplash.com/photo-1489110804417-276c3f517515?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTA3fHxibG9nJTIwYmFja2dyb3VuZCUyMGltYWdlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60') ;background-repeat:no-repeat;background-size:cover;height:100vh;color:white;margin-top:-1cm;font-family: 'Jacques Francois', serif;">
    <div class="row">
        <div class="col-md-2">  </div>
<div class="col-md-8" id="postform">
    <h2 class="text-center">create a blog</h2>
{{wtf.quick_form(form)}}
</div>
<div class="col-md-2"></div>
    </div>

</div>
{% endblock %}