{% macro displayBlog(blogs) %}


<div class="container">
    <div class="row" style="margin: 30px 0;font-family: 'Noto Serif JP', serif;">
        <h3 style="text-align: center;margin-bottom:20px;font-family: 'Nanum Gothic', sans-serif;font-weight:800;">Post</h3>
        {% for post in blogs %}
        <div class="col-md-4">
         
                <h4 class="title">{{post.title}}</h4><br>
       
            <p>{{post.content}}</p>
            <img src="{{post.image}}" width="300" height="200">
            <div><span class="foot">{{post.comments.count()}}</span>

                <a href="{{url_for('main.comment',blog_id = post.id)}}" style="color:black;"><i class="far fa-comments"></i></a>
                <a href="{{url_for('main.update_blog',id = post.id)}}" style="color:grey;">update</a>
                <a href="{{url_for('main.delete',id = post.id)}}" style="color:red;"><i class="fas fa-trash"></i></a>
            </div>

        </div>
        {% endfor %}
    </div>


</div>

{% endmacro %}